<div class="nested-fields item-option-value-fields">
  <fieldset>
    <%= f.label :name, "Value" %>
    <%= f.text_field :name, class: "form-control" %>
  </fieldset> <br />
  <fieldset>
    <%= f.label :additional_charge %>
    <%= f.number_field :additional_charge, class: "form-control" %>
  </fieldset> <br />
</div>
<hr>