<div class="nested-fields">
  <fieldset class="variation-remove-assoc">
    <%= link_to_remove_association "remove this variation", f %>
  </fieldset> <br/>
  <%= render 'item_fields', f: f %> 
</div>