<div class="option-values">
  <fieldset>
    <% if o.values.any? %>
      <%= select_tag "value_id", options_for_select(o.values.pluck(:name, :id)), class: "form-control" %> 
    <% end %>
  </fieldset>
</div>
<hr/>