<fieldset>
  <h4>Option name</h4>
  <%= o.name %>
</fieldset> <br/>
<fieldset>
  <h4>Option Description</h4>
  <%= o.description %>
</fieldset> <br/>
<fieldset>
    <%= image_tag o.o_picture.url(:medium), alt: o.name, class: "img-responsive" if o.o_picture.present? %>
</fieldset>
