<% if order_item.extras.any? %>
  <h4>Extras:</h4>
  <ul>
    <% order_item.extras.each do |value_id| %>
      <% value = find_value(value_id) %>
      <li><h5>
        <b><%="#{value.option.name}: #{value.name}" %></b>
        <span style="color: green;"><%= "+#{number_to_currency(value.additional_charge, unit: "EGP")}" %></span>
      </h5></li>
    <% end %> 
  </ul>
<% end %>