<div id="item">
	<div id="item-picture">
		<%= item.picture %>
	</div>
	<div id="item-title">
		<%= item.title %>
	</div>
	<div id="item-description">
		<%= item.description %>
	</div>
	<div id="item-price">
		<%= item.price %>
	</div>
</div>