<div class="row item">
	<div class="col-lg-6">
		<%= render @item %>
	</div>
</div> <br/>
<div class="row item-variations">
  <div class="col-lg-6">
    <h4>Variations of this item</h4>
    <%= render @item.variations %>
  </div>
</div>