// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

/* 
------- universal 
*/

body { 
  font-size: 14px;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
   box-sizing:        border-box;
}

a {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

/* 
------- header
*/

.header {
	background-color: #fff;

	li a {
		color: #4CC283 !important;
	}

	li a:hover {
		background-color: #ebebeb !important;
	}
}

/* 
------- wrapper
*/

.wrapper {
	background-color: #fafafa;
}