// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

/* 
------- universal 
*/

body { 
  font-size: 14px;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
   box-sizing:        border-box;
}

/* 
------- header
*/

.header {
	background-color: #fff;
}

/* 
------- wrapper
*/

.wrapper {
}