// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

/* 
------- universal 
*/

body { 
  font-size: 14px;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
   box-sizing:        border-box;
}

a {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.alert-notice {
  background-color: #6EDE6C;
  color: #fff;
}

.alert-alert {
  background-color: #CA4A4A;
  color: white;
}

/* 
------- header
*/

.header {
	background-color: #fff;

	li a {
		color: #4CC283 !important;
	}

	li a:hover {
		background-color: #ebebeb !important;
	}
}

/* 
------- wrapper
*/

.wrapper {
	background-color: #fafafa;
  margin-top: 50px;
  padding: 10px;
}

/* 
------- item-index
*/

.item-index {
  padding: 5px;
}

/* 
------- item
*/

#item {
  display: inline-block;
  margin: 5px;
  padding: 10px;

  #item-picture {
    border: 2px solid #d1d1d1;
    margin-bottom: 5px;
  }

  #item-title {
    font-size: 18px;
    font-weight: bold;
  }

  #item-description {
    color: #787878;
  }
}

#item:hover {
  background-color: #d3d3d3;
}

#item-link:hover {
  text-decoration: none;
}
