<div id="category">
	<p id="category-title">
		<h3><%= link_to category.title.titleize, category_path(category) %></h3>
	<p>
	<p id="category-description">
		<i><%= category.description %></i>
	</p>
</div>
<hr>