<div class="row category-show">
	<div class="col-lg-12">
		<h1><%= @category.title %></h1>
		<% if admin_role? %>
			<h6><i>Category ID: <%= @category.id %></i></h6>
			<h5><%= link_to "add item", new_admin_category_item_path(@category) %></h5>
		<% end %>
		<div class="category-items">
			<%= render @category.items.all %>
		</div>
	</div>
</div>